<div class="container">
    <!-- select part -->
    <div class="row">
        <div class="col-md-5">
            <select class="custom-select" (change)="setdisplayoption($event.target.value)">
                <option *ngFor="let item of hourlyOption" [value]="item.key">{{item.value}}</option>
            </select>
        </div>
    </div>
    <!-- showPart -->
    <div id="chartPart">
        <div style="display: block">
            <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                [legend]="barChartLegend" [chartType]="barChartType">
            </canvas>
        </div>
    </div>
</div>